:root {
    --elements-dark-color: #2b3945;
    --background-dark-color: #202c37;
    --text-light-color: #111517;
    --text-dark-color: #ffffff;
    --input-light-color: #858585;
    --background-light-color: #fafafa;
}

:root .dark-theme {
    --elements-dark-color: #2b3945;
    --background-dark-color: #202c37;
    --text-light-color: #111517;
    --text-dark-color: #ffffff;
    --input-light-color: #858585;
    --background-light-color: #fafafa;
}