.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: var(--background);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    .header__title {
        font-size: 24px;
        font-weight: 600;
        color: var(--text);
    }

    .header__theme-button {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        .theme-button__icon {
            font-size: 20px;
            margin-right: 8px;
            color: var(--text);
        }
        .theme-button__text {
            font-size: 16px;
            color: var(--text);
            &:hover {
                text-decoration: underline;
            }
        }
    }
}