.countries-container {
    padding: 0 80px;

    .countries-container__filters {
        display: flex;
        align-items: center;
        justify-content: space-between;

        app-search-input {
            width: 400px;
        }
    }
}