<app-header></app-header>
<main class="country-container">
  <div class="country-container__section">
    <button class="back-button" (click)="backToHomePage()">
      <span class="back-button__icon material-symbols-outlined">
        arrow_back
      </span>
      <span class="back-button__text">Back</span>
    </button>

    <div class="country-container__details">
      <img class="details--flag" [src]="countryDetails.flags.src" [alt]="countryDetails.flags.alt">
      <div class="details--info">

        <h2 class="details--info__name">{{countryDetails.name }}</h2>

        <div class="details--info__country">
          <div class="column">
            <p class="country-info__data">Native name: <span>{{ countryDetails.nativeName.common }}</span></p>
            <p class="country-info__data">Native name: <span>{{ countryDetails.population | population }}</span></p>
            <p class="country-info__data">Native name: <span>{{ countryDetails.region }}</span></p>
            <p class="country-info__data">Native name: <span>{{ countryDetails.subregion }}</span></p>
            <p class="country-info__data">Native name: <span>{{ countryDetails.capital }}</span></p>
          </div>
          <div class="column">
            <p class="country-info__data">Native name: <span>{{ countryDetails.topLevelDomain }}</span></p>
            <p class="country-info__data">Native name: <span>{{ countryDetails.currencies }}</span></p>
            <p class="country-info__data">
              Native name:
                <ng-container *ngFor="let language of countryDetails.languages; let last = last">
                  <span>{{ language }}</span><span *ngIf="!last">, </span>
                </ng-container>
            </p>
          </div>
        </div>

        <div class="details--info__border">
          <p class="border-title">Border Countries:</p>

          <button class="border-countries">France</button>
        </div>
      </div>
    </div>
  </div>
</main>
